/*modal start***********************************************************/
div#modal,#modal-confirm,#modal-loader,#modal-my-list {
    display: none;
	position:fixed;
    z-index: 1;
    padding-top:5vh;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}
/*確認用
div#modal-loader {
	position:fixed;
    z-index: 1;
    padding-top:5vh;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}
*/
div#modal-content {
	width:60%;
	margin:auto;
	padding:20px;
	background-color:#fefefe;
	border:solid 1px #888;
    /*added*/
    max-height: 80%;
    overflow-y: auto;
}

/*confirm modal-content*/
#confirm,#close-confirm {
    padding:0;
    width:35%;
    margin:auto;
    margin-top:5%;
    border:none;
    border-bottom: double 2px black;
    border-radius: 15px;
    background-color:#eeeeee;
    overflow:hidden;
}

#my-list {
    margin:auto;
    width:40%;
    max-height: 70%;
    margin-top:5%;
    padding:10px;
    border:double 2px black;
    background-color: #eeeeee;
    overflow:auto;
    text-align: center;
}

span.close-mark {
	color:#aaaaaa;
    position:absolute;
    top:10px;
    right:10px;
    font-size: 32px;
    font-weight: bold;
}

.close-mark:hover {
	color: #fff;
    text-decoration: none;
    cursor: pointer;
}
/*modal emd******************************************************/
select,input {
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
}
/*story start****************************************************/
div#pages-d {
    text-align: center;
}

ul#page-list-d {
    list-style-type:none;
    /*
    margin-block-start: 0em;
    margin-block-end: 0em;
    */
    padding-inline-start: 0px;
}

li.story-pages-d{
    display: inline;
    text-align:center;
    padding: 10px 20px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

p.story-title-d {
    text-align:center;
    font-weight:bold;
}

p.story-line-d {
    border-top: double turquoise 5px;
    border-left: solid turquoise 5px;
    border-right: solid turquoise 5px;
    border-bottom: double turquoise 5px;
    background-color: azure;
    margin:0 auto;
    /*
    border-left: solid 6px red;
    */
}

p.story-line-d:nth-child(odd) {
    background-color: lightblue;
}
/*story end****************************************************/

/*position detail start****************************************/
div.flex-frame-d,div#flex-frame-title-d {
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin: auto;
    text-align:center;
    align-items: center;
    border-bottom:1px solid #dddddd;
    width:85%;
    box-shadow: 0px 5px 20px -20px rgba(0,0,0,0.15);
}

div#flex-frame-title-d {
    text-align:left;
    font-weight: bold;
    color:#ffffff;
    /*background-color: #009879;*/
    background-color: #E64A19;
    height:5vh;
    border-radius:5px 5px 0 0;
}

div.flex-frame-d {
    height:8vh;
}
div.flex-frame-d:nth-child(even){
    background-color: #f3f3f3;
}
div.flex-frame-d:last-of-type {
    /*border-bottom: 2px solid #009879;*/
    border-bottom: 2px solid #E64A19;
}

div.flex-frame-d:hover,
div.flex-frame-d:active {
    background-color:pink;
    cursor: pointer;
}

div.flex-item-d,div.flex-item-title-d {
    width:15%;
    margin:2px 2px;
}
/*position detail end****************************************/

/*trade start*/
div.trade-rec {
    display:flex;
    justify-content: center;
    margin:10px;
}

div#trade-msg {
    text-align: center;
    font-weight:bold;
    font-size:larger;
    border-bottom: solid 1px;
}

div.trade-item{
    display:inline-block;
    width:40%;
    margin-right:10px;
    margin-left: 15px;
}

div.trade-label {
    text-align: right;
}

#pair-select {
    width:170px;
    height:22px;
}

div.side-button {
    background-color:#999;
    color:#f3f3f3;
    cursor: pointer;
    font-weight:bold;
    text-align:center;
    width:20%;
    margin:3px;
    border:solid 1px #777;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
                            0 2px 2px -1px rgba(0, 0, 0, .5),
                            0 1px 0 rgba(255, 255, 255, .5) inset;
}

div#side-buy {
    background-color:#FF5722;
}
/*
div.side-button:hover{
	background-color:#FF5722;
}
*/
div#side-button:active{
    border:5px solid #FF5722;
}


div#trade-button {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;    
    font-weight: bold;
    font-size: large;
    width:40%;
    border-radius:15px;
    background-color: black;
    color:#fefefe;
    margin:auto;
    text-align: center;
    cursor:pointer;
    border:solid 5px #fefefe;
}

div#trade-button:hover{
	background-color:#FF5722;
}
/*
div#trade-button:active {
    border:5px solid #FF5722;
}
*/
div#label-amount{
    text-align:right;
}

div#precautions {
    margin-top:10px;
    border:double 2px;
    background-color:rgb(160, 44, 44);
    /*background-color:rgb(252, 82, 31);*/
    color:#fefefe;
}

div#precautions-title {
    margin-top:10px;
    margin-bottom:3px;
    text-align: center;
}
div#precautions-content {
    display:flex;
    justify-content: center;
    font-size: smaller;
}

/*trade end*/


/*確認ダイアログ*/
dialog {
    padding:0;
    width:30%;
    border:none;
    border-bottom: double 2px black;
    border-radius: 15px;
    /*
    background-color: #fefefe;
    */
    background-color:#eeeeee;
    overflow:hidden;
}

div#confirm-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#777;
    font-weight: bold;
}

div.question-wrapper {
    text-align: center;
    width:100%;
    background-color: #00BCD4;
}

img.question {
    margin-top:10px;
    margin-bottom:5px;
}

div.inline {
    display:inline-block;
}

div.confirm-content {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.left,.right {
    margin: 3px;
    width:40%;
}

div.left {
    text-align: right;
}

div.right {
    text-align:left;
}

div#btn,#btn-close {
    width:100%px;
    height:3vh;
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
}
button.confirm-button {
    display:inline-block;
    height:100%;
    width:30%;
    border:none;
    border-radius:15px;
    background-color: #888;
    color:#f3f3f3;
    margin:5px;
}

button.confirm-button:hover,
button.confirm-button:active {
	background-color:#666;
}

#close-pwd {
    width:80%;
}

/*確認dialog end*/

/*loader*/
#loader {
    padding:0;
    width:30%;
    height:30%;
    margin:auto;
    margin-top:5%;
    border:none;
    border-radius: 15px;
    background-color:#eeeeee;
    overflow:hidden;
    color:#555;
    font-weight: bold;
}

.loader-header-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:30%;
    background-color:#00BCD4;
}

.status-message{
    display:inline-block;
    vertical-align: middle;
    color:white;
    font-size:larger;
}

.loader-body {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:70%;
    background-color:#dddddd;
}

#preloader{
    margin:auto;
    border:5px solid #f3f3f3;
    border-radius:50%;
    /*border-top:5px solid #3498db;*/
    border-top:5px solid #777;
    width:25px;
    height:25px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#loader-close {
    display:none;
    width:35%;
}

#loader-close__button {
    background-color: #888;
    color:#f3f3f3;
    width:100%;
}
/*loader END*/

/*position list*/
#position-list {
   text-align: center;
   margin-top:30px;
   flex-shrink: 1;
}

#list-message {
    width:50%;
    margin:auto;
    border-bottom:1px dotted #555;
    cursor: pointer;
}


@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/*tablet*/
@media only screen and (max-width:960px){
    div#modal {
        padding-top:5vh;
    }

    #confirm,#close-confirm,#loader {
        width:50%;
    }

    #my-list{
        width:50%;
    }

    div#modal-content {
        width:80vw;
    }

    .trade-label,#trade-least-amount {
        font-size: smaller;
    }
    input#pwd-user,input#amt-user,select#pair-select{
        display: inline-block;
        width:80%;
    }
    dialog {
        width:50%;
    }

    .confirm-button {
        width:40%;
    }
    #position-close,#pwd-user-close {
        font-weight:bold;
        color:#777;
    }
    /*
    #pwd-user-close {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    */
    
}

/*smartphones*/

@media only screen and (max-width:600px){
    div#modal {
        padding-top:10vh;
    }

    #confirm,#close-confirm,#loader {
        width:70%;
        margin-top:25%;
    }

    #my-list{
        width:80%;
        font-size: small;
    }

    div#modal-content {
        width:85vw;
        padding:10px;
    }
    li.story-pages-d{
        padding-left:4vw;
        padding-right:4vw;
    }

    p.story-line-d {
        font-size: small;
    }

    .trade-rec {
       flex-direction: column;
    }

    div.trade-label,div#label-amount {
        text-align: left;
    }

    input#pwd-user,input#amt-user,select#pair-select{
        display: inline-block;
        width:80%;
    }

    .trade-label,#trade-least-amount {
        font-size: smaller;
    }

    div#trade-least-amount {
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }
    div#label-amount,div#div-least {
        display:inline-block;
        width:fit-content;
    }

    dialog {
        /*
        display: inline-block;
        */
        width:80vw;
    }

    .confirm-button {
        width:40%;
    }

    .trade-rec div {
        width:100%;
    }
    div#trade-side {
        display:flex;
        flex-direction: row;
        align-items: center;
    }
    div.side-button {
        width:40%;
    }

    #trade-rule {
        padding-left:5vw;
    }

    div.flex-frame-d,
    div#flex-frame-title-d {
        font-size: small;
        justify-content:space-around;
        width:100%;
    }
    div#flex-frame-title-d {
        font-weight:normal;
    }

    div._1{
        width:10%;
        /*
        margin:0;
        */
    }
    div._2,div._3,div._4{
        width:15%;
        margin:0;
        
    }
    div._5 {
        width:25%;
    }
    div._6 {
        width:20%;
    }

    #position-close,#pwd-user-close {
        font-size:80%;
    }
}